.demo-table {
  width: 100%;
}

.button-blue {
  background-color: #2600ff;
  color: white;
  margin-right: 20px;
  height: 40px;
  margin-bottom: 20px;
}

.table-container {
  margin: 20px auto;
  width: 90%;
}

.filter-container {
  display: flex;
}

.filter-container mat-form-field {
  margin-right: 16px;
}

.button-yellow {
  background-color: #ffaa00;
  color: white;
}

.button-red {
  background-color: #ff0000;
  color: white;
}

.button-spacing {
  margin-left: 10px;
  display: inline-block;
}
